{% extends 'base.html' %}
{% block title %}
Student
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block intro %}
<section id="intro" class="reduced-height">
  <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">
    SELL AGRO PRODUCTS AND BUY  </span>
  </h1>
  <a href="/agroproducts" class="about-btn scrollto">AGRO PRODUCTS</a>
</div>
</section>
{% endblock %}

{% block body %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
     
    </div>
  </footer><!-- End  Footer -->
{% endblock body %}
